export NODE_ENV=development

export API_PORT=4000

export DB_CLIENT=postgres
export DB_USER=postgres
export DB_PASSWD=postgres
export DB_HOST=localhost
export DB_PORT=15432
export DB_NAME=hotel_$NODE_ENV
export DB_URL=${DB_CLIENT}://${DB_USER}:${DB_PASSWD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

